@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 36px;
    color: #CDBF00;
}

.contenido {
    display: flex;
    align-items: center;
}

.imagen-container {
    flex: 1;
    text-align: center;
}

.imagen {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.mensaje {
    flex: 1;
    padding: 0 40px;
}

.mensaje p {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}
